<div style="position:center;display: flex;">
    <div>
        <button>
            <a href="/admin" class="small-box-footer"> à la page d'administrateur<i class="fas fa-arrow-circle-right"></i></a>
        </button>
    </div>
    <div style="margin-left: 20px">
        <button>
            <a href="/listLiv" class="small-box-footer">à la page d'user<i class="fas fa-arrow-circle-right"></i></a>
        </button>
    </div>
</div>