<!Doctype html>
<html>
<head><title>inscrit</title></head>
<body>
<table class="table" style="color: white">
    <tbody>
    <tr>
        <th>Nom et Prenom</th>
        <td>{{ inscrit.nom }}</td>
    </tr>
    <tr>
        <th>Fonction</th>
        <td>{{ inscrit.fonction }}</td>
    </tr>
    <tr>
        <th>Synaodaparitany</th>
        <td>{{ inscrit.sinoda }}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{ inscrit.email }}</td>
    </tr>
    </tbody>
</table>
</body>
</html>