<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="/login/images/icons/favicon.ico"/>
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login/vendor/bootstrap/css/bootstrap.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login/fonts/font-awesome-4.7.0/css/font-awesome.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login/fonts/iconic/css/material-design-iconic-font.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login/vendor/animate/animate.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login/vendor/css-hamburgers/hamburgers.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login/vendor/animsition/css/animsition.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login/vendor/select2/select2.min.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login/vendor/daterangepicker/daterangepicker.css">
    <!--===============================================================================================-->
    <link rel="stylesheet" type="text/css" href="/login/css/util.css">
    <link rel="stylesheet" type="text/css" href="/login/css/main.css">
    <!--===============================================================================================-->
</head>
<style>
    .wrap-login100{background-image: -moz-linear-gradient(
            rgb(18, 170, 244),
            rgb(5, 32, 136));
        background-image:-webkit-linear-gradient( rgb(18, 170, 244), rgb(5, 32, 136));
    }
    .container-login100::before {
        background-color: rgba(255,255,255,0.8);}
</style>
<body>

<div class="limiter">
    <div class="container-login100" style="background-image: url('/images/IMG_3582.JPG');">
        <div class="wrap-login100">
            <form class="login100-form validate-form" action="" method="post">
                <span class="login100-form-logo">
						<img src="/images/logoo.png" alt="FJKM Logo" style="opacity: .9" class="login100-form-logo">
					</span>

                <span class="login100-form-title p-b-34 p-t-27">
						Bibliotheque TPM
					</span>

                    <div class="container-login100-form-btn">
                        <button class="login100-form-btn" >
                            <a href="/admin" class="small-box-footer"> à la page d'administrateur<i class="zmdi zmdi-arrow-right"></i></a>
                        </button>
                    </div>
                <div class="container-login100-form-btn" style="margin-top: 10px">
                    <button class="login100-form-btn" >
                            <a href="/home" class="small-box-footer"> à la page d'user          <i class="zmdi zmdi-arrow-right"></i></a>
                    </button>
                </div>
                <div class="container-login100-form-btn" style="margin-top: 10px">
                    <button class="login100-form-btn" >
                        <a href="/inscritList" class="small-box-footer"> inscription d'user       <i class="zmdi zmdi-arrow-right"></i></a>
                    </button>
                </div>


            </form>
        </div>
    </div>
</div>


<div id="dropDownSelect1"></div>

<!--===============================================================================================-->
<script src="/login/vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="/login/vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="/login/vendor/bootstrap/js/popper.js"></script>
<script src="/login/vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="/login/vendor/select2/select2.min.js"></script>
<!--===============================================================================================-->
<script src="/login/vendor/daterangepicker/moment.min.js"></script>
<script src="/login/vendor/daterangepicker/daterangepicker.js"></script>
<!--===============================================================================================-->
<script src="/login/vendor/countdowntime/countdowntime.js"></script>
<!--===============================================================================================-->
<script src="/login/js/main.js"></script>

</body>
</html>